<!DOCTYPE
 html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
 "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl">
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="style/style.css" type="text/css" />
</head>
<body>
<div id="site">
	<div id="top">
		<h1><a href="/"><span>Logo serwisu</span></a></h1>
		
		<ul id="menu">
			<li><a href="index.htm">Trwające relacje</a></li>
			<li><a href="#">Archiwum</a></li>
			<li><a href="form.htm">Zarejestruj się</a></li>
			<li><a href="#">Zaloguj się</a></li>
		</ul>
	</div>
	<div id="body">
		<div id="content">
			<h2>Zarejestruj się</h2>
			
			<form>
				<div class="input">
					<label>Login:</label>
					<input type="text" />
				</div>
				<div class="input">
					<label>Hasło:</label>
					<input type="text" />
				</div>
				<div class="input">
					<label>Powtórz hasło:</label>
					<input type="text" />
				</div>
				<div class="input">
					<label>E-mail:</label>
					<input type="text" />
				</div>
				<div class="textarea">
					<label>E-mail:</label>
					<textarea></textarea>
				</div>
				<div class="textarea textarea-inline">
					<label>E-mail:</label>
					<textarea></textarea>
				</div>
				<div class="submit">
					<input type="submit" value="Zarejestruj" />
				</div>
			</form>
		</div>
		<div id="sidebar">
			<h2>Czat</h2>
			
		</div>
	</div>
	<div id="foot">
		<p>© NazwaStrony.pl</p>
	</div>
</div>
</body>
</html>
