<!DOCTYPE html>
<html lang="pl">
<head>
	<title>index</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="style/style.css" type="text/css" />
</head>
<body>
<div id="site">
	<div id="top">
		<h1><a href="/"><span>Logo serwisu</span></a></h1>
		
		<ul id="menu">
			<li><a href="index.htm">Trwające relacje</a></li>
			<li><a href="#">Archiwum</a></li>
			<li><a href="form.htm">Zarejestruj się</a></li>
			<li><a href="#">Zaloguj się</a></li>
		</ul>
	</div>
	<div id="body">
		<div id="content">
			<h2>Trwające relacje</h2>
			
			<div class="item">
				<h3>STS-134: drugi dzień misji</h3>
				<p>Ten artykuł będzie stale uzupełniany w miarę postępu prac. Zapraszamy do relacji z drugiego dnia (Flight Day 2 - FD2) misji STS-134. Początek FD2 zaplanowany jest na godzinę 05:56 CEST (17.05.2011). Misję będzie można oglądać na  NASA TV. Dodatkowe informacje na temat sposobów jej odbierania znajdują  się na końcu tego artykułu.</p>
				<a class="link-more" href="relacja.htm">Zobacz</a>
			</div>
			
			<div class="item">
				<h3>STS-134: drugi dzień misji</h3>
				<p>Ten artykuł będzie stale uzupełniany w miarę postępu prac. Zapraszamy do relacji z drugiego dnia (Flight Day 2 - FD2) misji STS-134. Początek FD2 zaplanowany jest na godzinę 05:56 CEST (17.05.2011). Misję będzie można oglądać na  NASA TV. Dodatkowe informacje na temat sposobów jej odbierania znajdują  się na końcu tego artykułu.</p>
				<a class="link-more" href="#">Zobacz</a>
			</div>
			
			<div class="item">
				<h3>STS-134: drugi dzień misji</h3>
				<p>Ten artykuł będzie stale uzupełniany w miarę postępu prac. Zapraszamy do relacji z drugiego dnia (Flight Day 2 - FD2) misji STS-134. Początek FD2 zaplanowany jest na godzinę 05:56 CEST (17.05.2011). Misję będzie można oglądać na  NASA TV. Dodatkowe informacje na temat sposobów jej odbierania znajdują  się na końcu tego artykułu.</p>
				<a class="link-more" href="#">Zobacz</a>
			</div>
		</div>
		<div id="sidebar">
			<h2>Witaj!</h2>
			<p>Witaj w portalu relacji Live!</p>
			
			<a class="link-more" href="">Zarejestruj się</a><br /><br />
			<a class="link-more" href="">Zaloguj się</a>
		</div>
	</div>
	<div id="foot">
		<p>© NazwaStrony.pl</p>
	</div>
</div>
</body>
</html>
